<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="/admin-dashboard" class="navbar-brand" style="color:rgb(242,98,28)  ; font-size: x-large; font-weight: bolder;">Foodics</a></div>
        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
            <li><a  class="nav-link" routerLink="/booking"  >Bookings</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin-dashboard/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin-dashboard/products" class="dropdown-item">Foods</a>
                    <a routerLink="/bookinglist" class="dropdown-item">Bookings</a>
                </div>
            </li>
           
        </ul>
        <li>
            <a routerLink="/login">Log Out</a>
        </li>
    </nav>
</header>
<h1 style=" font-size: x-large; font-weight: bolder; text-align: center; text-decoration: underline; padding-top: 15px;">
  Inventory Control</h1>
<a class="btn btn-primary mb-3" (click)="addProduct()" style="margin-left: 55px;">
  Add New Food</a>
<div class="container row" style="margin-left: 25px;">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr style="background-color: rgb(242,98,28);">
          <th>ID</th>
          <th>Food Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="viewProduct(product.id)" >Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" style="padding-left: 105px;">

    <!-- <app-add-product *ngIf="action === 'add'" [product]="selectedProduct" (foodAddedEvent)="refreshData()"></app-add-product> -->
    <app-add-product *ngIf="action === 'edit' || action === 'add'" [product]="selectedProduct" (foodAddedEvent)="refreshData()"></app-add-product>
    <app-viewproduct *ngIf="action === 'view'" [product]="selectedProduct" (foodDeletedEvent)="refreshData()"></app-viewproduct>
  </div>
</div>