<header style="background-color: rgb(197, 194, 35)">
    <nav class="navbar navbar-expand-sm bg-light navbar-light" >
        <div><a href="/userUI" class="navbar-brand" style="color:rgb(242,98,28)  ; font-size: x-large; font-weight: bolder;">
            Foodics
        </a></div>
        <ul class="navbar-nav" >
            <li><a  class="nav-link" routerLink="/userUI/shop"  >Menu</a></li>
            <li><a  class="nav-link" routerLink="/userUI/booking"  >Bookings</a></li> &nbsp;
            
           
        </ul>
        <ul class="navbar-nav">
            <a routerLink="/login" >Log Out</a>
          </ul>
    </nav>
</header> 


<div class="div1">

    <div class="div2">
<h2>Welcome to</h2>
    </div>
    <div class="div3">
        <img src="/assets/images/logo_blank2.png" class="logo2" alt="">
        <button class="button" routerLink="/userUI/shop" style="vertical-align:middle"><span>Explore Menu</span></button>
    </div>
    <div class="div4">
       
        
    </div>

</div>


