<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div><a href="/userUI" class="navbar-brand" style="color:rgb(242,98,28)  ; font-size: x-large; font-weight: bolder;">
            Foodics</a></div>
        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/userUI/shop"  >Menu</a></li>
            <li><a  class="nav-link" routerLink="/userUI/booking"  >Bookings</a></li> &nbsp; 
           
           
        </ul>
        <ul class="navbar-nav">
            <a routerLink="/login">Log Out</a>
          </ul>
    </nav>
</header>
<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <!-- <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4> -->
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let food of products;let i=index">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="{{food.retrievedImage}}"
                class="w-100" />
              <a href="#!">
               
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              
                <h5 class="card-title mb-3">{{food.name}}</h5>
              
              
                <p>{{food.description}}</p>
              
              <div class="offset-md-4 col-md-4">
                <button class="btn btn-primary btn-sm" style="background-color: rgb(242,98,28); border-color: rgb(242,98,28);" >₹ {{food.price}}</button>
                   
            </div>
            </div>
          </div>
        </div>
  
     
  
        
      </div>
  
     
    </div>
  </section>